@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
	@apply mx-auto px-4;
}

.btn {
	@apply bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded;
}

.section {
	@apply bg-gray-100 p-6 rounded shadow-lg;
}

.heading {
	@apply text-2xl font-bold text-center text-blue-600 mb-4;
}

body {
	font-family: 'Arial', sans-serif;
	margin: 0;
	padding: 0;
	background-color: #f0f4f8;
	color: #333;
}

section {
	padding: 20px;
	margin: 0 auto;
	max-width: 1200px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	border-radius: 8px;
	background: #ffffff;
}

h1,
h2,
h3 {
	text-align: center;
	color: #007acc;
}

a {
	text-decoration: none;
	color: #007acc;
	font-weight: bold;
}

a:hover {
	text-decoration: underline;
}

button {
	padding: 10px 20px;
	font-size: 16px;
	color: #fff;
	background-color: #007acc;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

button:hover {
	background-color: #005f99;
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
}

#dependencies {
	width: 80%;
	place-self: center;
	text-align: center;
}

#cards {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#lang,
#tech {
	display: grid;
	gap: 1rem;
}

#lang {
	grid-template-columns: repeat(2, minmax(0, 1fr));
	width: 20%;
}

#tech {
	grid-template-columns: repeat(4, minmax(0, 1fr));
	width: 50%;
}

#lang button,
#tech button {
	display: flex;
	justify-content: start;
	align-items: center;
	padding: 1rem 1.5rem;
	border-radius: 1rem;
	background-image: linear-gradient(to right, #334155, #1e293b);
	color: #e2e8f0;
	width: 100%;
}

#lang button:hover,
#tech button:hover {
	filter: brightness(1.2);
}

#lang button:active,
#tech button:active {
	filter: brightness(0.9);
}

#lang button:hover,
#lang button:active,
#tech button:hover,
#tech button:active {
	transition-property: color, background-color, border-color,
		text-decoration-color, fill, stroke, opacity, box-shadow, transform,
		filter, backdrop-filter;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 200ms;
}

#lang button img,
#tech button img {
	width: 2rem;
	height: 2rem;
	padding-right: 1rem;
}

#lang a,
#lang a:hover,
#lang a:active,
#lang a:focus,
#tech a,
#tech a:hover,
#tech a:active,
#tech a:focus,
#community a,
#more-info a {
	text-decoration: none;
}

#sources-container {
	background-image: linear-gradient(to right, #bfdbfe, #007acc);
	color: #1e293b;

}

#sources {
	display: flex;
	align-items: start;
	justify-content: center;
	
}

#logo {
	width: 20rem;
	height: 20rem;
}

#community,
#more-info {
	font-weight: bold;
}

#community {
	padding: 2rem 20rem;
}

#more-info {
	padding: 2rem 10rem;
}

#community li:first-child,
#more-info li:first-child {
	margin-top: 1.5rem;
}

#community li,
#more-info li {
	list-style: none;
	line-height: 2rem;
}

#community a,
#more-info a {
	color: #1e293b;
	font-weight: normal;
}

#community a:hover,
#community a:active,
#more-info a:hover,
#more-info a:active {
	font-weight: normal;
	text-decoration: underline;
	filter: brightness(0) saturate(100%) invert(23%) sepia(11%) saturate(6252%)
		hue-rotate(198deg) brightness(94%) contrast(103%);
}

#external {
	width: 1rem;
	height: 1rem;
}

#bottom-text {
	text-align: center;
	padding-bottom: 2rem;
	font-weight: 900;
}

/* Large to extra lerge screen */
@media screen and (min-width: 1920px) and (max-width: 2560px) {
	#lang {
		width: 30%;
	}

	#tech {
		width: 60%;
	}
}

/* Medium to large screen` */
@media screen and (min-width: 1280px) and (max-width: 1919px) {
	#lang {
		width: 35%;
	}

	#tech {
		width: 90%;
	}
}

/* Small to medium screen */
@media screen and (min-width: 1024px) and (max-width: 1279px) {
	#lang {
		width: 50%;
	}

	#tech {
		grid-template-columns: repeat(3, minmax(0, 1fr));
		width: 80%;
	}
}

/* Tablets to small screens */
@media screen and (min-width: 768px) and (max-width: 1279px) {
	#lang {
		width: 80%;
	}

	#tech {
		grid-template-columns: repeat(3, minmax(0, 1fr));
		width: 100%;
	}
}

/* Small phone to tablets */
@media screen and (min-width: 360px) and (max-width: 767px) {
	#lang {
		grid-template-columns: repeat(1, minmax(0, 1fr));
		width: 70%;
		gap: 0.5rem;
	}

	#tech {
		grid-template-columns: repeat(2, minmax(0, 1fr));
		width: 120%;
		gap: 0.5rem;
	}

	#tech button {
		padding: 1rem 0.5rem;
	}
}
